name: App Build

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          check-latest: true

      - name: Install npm packages
        run: npm install
        working-directory: ./frontend

      - name: Build project
        run: npm run build
        working-directory: ./frontend

      - name: Create app folder
        run: mkdir web
        shell: bash
        working-directory: ./frontend

      - name: Create app folder
        run: mkdir app
        shell: bash
        working-directory: ./frontend/web

      - name: Move files to app folder
        run: cp -R /dist /web/app
        shell: bash
        working-directory: ./frontend

      - name: Create .nginx folder
        run: mkdir .nginx
        shell: bash
        working-directory: ./frontend/web

      - name: Create nginx config
        run: touch nginx.conf
        shell: bash
        working-directory: ./frontend/web/.nginx

      - name: Create nginx config
        run: echo -e "server {\n\tlisten 3000;\n\n\tlocation / {\n\t\troot /usr/share/nginx/html;\n\t\tindex index.html index.htm;\n\t\ttry_files $uri $uri/ /index.html;\n}\n\n\tinclude /etc/nginx/extra-conf.d/*.conf;\n}" > nginx.conf
        shell: bash
        working-directory: ./frontend/web/.nginx

      - name: Create Dockerfile
        run: touch Dockerfile
        shell: bash
        working-directory: ./frontend/web

      - name: Create Dockerfile
        run: echo -e "FROM nginx:latest\nEXPOSE 3000\nCOPY /.nginx/nginx.conf /etc/nginx/conf.d/default.conf\nCOPY /app /usr/share/nginx/html"> Dockerfile
        shell: bash
        working-directory: ./frontend/web

      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: web
          FOLDER: frontend/web
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
